/*Desktop Default styles*/
/*Font settings*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 1vw);
}    

h2, h3 {
    font-family: 'Handlee', cursive;
    color: #e2b619;
    text-shadow: 0.5px 0.5px 1px #9c801c;			
    border: 0px;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: .5em;
}
    h2.section {
        margin-top: 2.75em;
        margin-bottom: 0.5em;
    } 
    h3.section {
        margin-bottom: 0.75em;
    }
hr {
    height:2px;
    border-width:0;
    color: #e2b619;
    background-color: #e2b619;
    margin: 1em 0em 1.25em 0em;
}

form {
    font-size: 0.65em;
    font-family: 'Roboto', sans-serif;
}

input[type=submit] {
    background-color: #4dac19;
    color: white;
    font-size: 0.85em;
    font-weight: 600;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

input[type=submit]:hover {
    color: #e2b619;
    background-color: #4dac19;
}

/*Nav Panel*/
.logo {
    width: 12.5%;
    max-width: 120px;
    position: fixed;
    border-radius: 50%;
    left: 1.5%;
    top: 1%;
    margin: 8px;
    z-index: 99;
    box-shadow: 0.05em 0.1em #38383880;
}
    nav.top-nav {
        width: 99.25%;
        padding: 1%;
        margin: auto;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fefefe;
        box-shadow: 0em 0.1em #38383850;
        z-index: 98;
        display: flex;
        justify-content: space-between;
    }
        .menu-icon {
            display:none;
            position: relative;
            left: 2.5%;
            align-self: center;
            width: fit-content;
            padding: 4px 4px 2px 4px;
            color: #383838;
        }
        /*Page Links*/
        ul.top-nav {
            list-style-type: none;
            display: inline-flex;
            width: fit-content;
            align-content: row;
            padding: 30px, 0px;
            margin: 0.75em 0 0.75em 12%;
        }
            /*Link formating*/
            li.top-nav a {
                color: black;
                text-decoration: none;
                border-top: 8px solid transparent;
                padding: 8px;
                gap: 8px;
            }
            li.top-nav a:hover {
                cursor:pointer;
                border-top: 8px solid #e2b619;
            }
        /*Search Bar*/
        .wrapper {
            display: inline-flex;
            justify-content: flex-end;
            align-content: center;
            align-self: center;
            width: 20%;
            margin-right: 0.75%
        }
            .search {
                display: inline;
                font-size: 0.5em;
                align-self: center;
                border: 1px solid grey;
                border-radius: 50px;
                height: 1.5em;
                width: 100%;
                padding: 0.5em 2.3em 0.5em 1em;
                margin: 0;
                outline: 0;
                background-color: lightgray;
            }
            .search:hover, .search:focus{
                border: 1.5px solid #e2b619;
                background-color: white;
                cursor: text;
            }
            .search-icon {
                position: relative;
                right: 12.75%;
                align-self: center;
                width: fit-content;
                color: #383838;
                cursor: pointer;
            }
        /*Cart*/
        .cart {
            display: inline;
            position: relative;
            font-size: 1em;
            right: 2.5%;
            align-self: center;
            width: fit-content;
            padding: 4px 4px 2px 4px;
            color: #383838;
        }
        .menu-icon:hover, .cart:hover {
            color: #e2b619;
            cursor:pointer;
        }
                /*Icon*/
                .fa-solid {
                    z-index: 99;
                }
/* Menu Page Nav*/
body.menu {
    color: #fefefe;
    background-color: #4dac19;
}
    nav.menu {
        width: 100%;
        box-sizing: border-box;
        padding: 1%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
        nav.menu a {
            color: #fefefe;
        }
        /*Search Bar*/
            .menu-wrapper {
                display: inline-flex;
                width: 100%;
                align-content: center;
            }
                .search-menu {
                    font-size: 1em;
                    align-self: center;
                    border: 2px solid #e2b619;
                    border-radius: 50px;
                    height: 2.5em;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0.5em 2.5em 0.5em 1.25em;
                    margin-left: 1em;
                    outline: 0;
                    background-color: #fefefe;
                }
                .search-menu:focus{
                    border: 1.5px solid #383838;
                    background-color: lightgrey;
                    cursor: text;
                }
                .search-menu-icon {
                    position: relative;
                    right: 2em;
                    align-self: center;
                    color: #383838;
                    cursor: pointer;
                }
            ul.menu {
                list-style-type: none;
                padding: 16px;
                vertical-align: middle;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
                li.menu {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 32px 32px 32px 64px;
                }
                    li.menu a {
                        color: #fefefe;
                        text-decoration: none;    
                        font-size: 2em;
                        font-weight: 60h0;
                    }
                    li.menu:hover {
                                cursor:pointer;
                                background-color: #e2b619;
                                color:#383838
                    }      
    
/*Main*/
    .banner {
        padding-top: 1.75em;
        display: block;
        align-self: center;
        margin: auto;
        width: 99%;
    }

    /*Featured Items*/
    table.center {
        width: fit-content;
        margin: auto;
    }
        th, td {
            padding: .25em;
        }
        td > img {
                width: 27vw;
        }

    /*Shop*/
    section {
        display: flex;
        justify-content: space-between;
        width: 99%;
        margin-top: 0.5em;
        margin: auto;
    }
    div.catagories {
        display: inline-flex;
        flex-direction: column;
        width: 25%;
        margin: 0.25em 16px;
        padding: 8px;
        border:2px solid #c7741b;
        background-color: #aeaeae90;
    }
        div.catagories > ul {
            list-style-type: none;
            padding: 0;
        }
            div.catagories > ul:hover{
                cursor:pointer;
            }
    div.gallery {
        display: inline-flex;
        justify-content: space-around;
        flex-wrap: wrap;
        color: black;
    }
        div.gallery > a {
            text-decoration: none;
            width: 25%;
        }
        div.item {
            margin: 4px;
            border: 2px solid transparent;
        }
            div.item:hover {
                border: 2px solid #e2b619;
            }
            div.item > img {
                width: 100%;
            }
            div.listing {
                color: black;
                padding: 15px;
                text-align: center;
            }

/*Item Page*/
    section.item {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 1.5em;
        gap: 5%;
    }
        /*Image*/
        div.image {
            display: inline-flex;
            flex-direction: column;
            justify-items: center;
            width: 40%;
            min-width: 300px;
            padding: 16px;
        }
        /*Options*/
        form.item {
            align-self: center;
            margin-top: 2.75em;
            min-width: 200px;
            width: 25%;
        }
            fieldset {
                margin-bottom: 8px;
                border-color: #4dac19;
                border-radius: 5px;
            }
            label.item {
                font-family: 'Handlee', cursive;
                font-size: 1.25em;
                font-weight: 600;
                color: #e2b619;
                text-shadow: 0.4px 0.4px 0.9px #9c801c;			
                border: 0px;
            }
            select.item {
                font-family: 'Roboto', sans-serif;
                font-size: .9em;
                border-color: #4dac19;
                border-radius: 5px;
                padding: 2px 4px;
                margin-bottom: 2px;
                margin-left: 16px;
            }
                select.item:hover, select.item:focus {
                    border-color: #e2b619;
                    border-radius: 5px;
                    background-color: #4dac1960;
                }
            input {
                margin-left: 16px;
            }
            input[type=radio] {
                accent-color: #4dac19;
            }

/*Cart*/
    div.checkout {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }

/*About*/
    /*About the maker*/
    div.about {
        background: linear-gradient(45deg, 
            rgba(42, 99, 11, 0.75) 20%,
            rgba(77,172,25,0.75) 55%,
            rgba(163, 232, 51, 0.75) 90%);
        border-radius: 16px;
        margin-top: 0px;
        margin: auto;
        max-width: 85%;
        padding: 0.5em 1em;
    }
        img.about {
            float: left;
            border-radius: 16px;
            margin: 1.15em 1em 0.5em 0em;
            width: 34%;
            max-width: 375px;
            overflow: auto;
            /*center-vert better eventually*/
        }
    /*How its made*/
    div.vid {
        max-width: 85%;
        overflow: hidden;
        padding-left: 28.125%;
        padding-right: 28.125%;
        margin-left: auto;
        margin-right: auto;
    }
        .tiktok {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    /*GWM*/
    div.gwm {
        max-width: 85%;
        padding: 0.5em 1em;
        margin-left: auto;
        margin-right: auto;
    }

/*Contact*/
    /*Custom order form*/
    div.container {
        border-radius: 5px;
        background: linear-gradient(60deg, 
            rgba(226,182,25,0.9) 37%, 
            rgba(255,236,165,0.9) 89%);
        padding: 20px 15px;
        margin: auto;
        width: 50%;
        min-width: 250px;
        box-sizing: border-box;
    }
        .custom {
            align-self: center;
            width: 100%;
            padding: 8px;
            margin: 2px;
            border: 1px solid #4dac19;
            border-radius: 4px;
            background-color: #ffffff90;
            box-sizing: border-box;
            font-size: 0.7em;
            font-family: 'Roboto', sans-serif;
        }
        textarea {
            font-family: 'Roboto', sans-serif;
            font-size: 0.7em;
        }
        .custom:hover, .custom:focus {
            border: 1.5px solid #808080;
            background-color: white;
            cursor: text;
        }
        div.container label {
            padding: 8px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
    /*Join/like/follow social pages*/
        section.joinus {
            display:flex;
            width: 85%;
            padding: 8px;
            justify-content: space-around;
            margin: auto;
        }
            div.fb, div.insta {
                display: inline-block;
                justify-self: center;
                padding: 1em;
            }

/*Lower Nav*/
footer.bottom-nav {
    width: 99%;
    display: flex;
    justify-content: space-between;
}
    /*Page Links*/
    ul.bottom-nav {
        list-style-type: none;
        padding-left: 16px;
        padding-right: 8px;
    }
        li.bottom-nav {
            width: fit-content;
        }
            li.bottom-nav a {
                color: #4dac19;
                text-decoration: none;
            }
            li.bottom-nav a:hover {
                        cursor:pointer;
                        color: #e2b619;
            }
    /*social links*/
    span {
        color: #4dac19;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    div.social {
        display: inline-flex;    
        justify-content: right;
        align-content: flex-end;
    }
        div.social > a {
            font-size: 1.5em;
            color: #4dac19;
        }
        div.social > a:hover {
            color: #e2b619;
            cursor: pointer;
        }
            .fa-brands {
                padding: 4px;
                display: block;
            } 
    /*Copyright*/
    p.copyright {
            color: gray;
            text-align: right;
            margin: 0.25em;
        }

/*Mobile Styles*/
@media screen and (max-width: 560px) {
    .banner {
        display: none;
    }
    ul.menu {
        padding: 16px;
    }
        li.menu {
            width: 100%;
            box-sizing: border-box;
            padding: 16px;
        }
    /*top section on page gap*/
    table.center {
        margin-top: 3.5em;
    }  
    section.item {
        margin-top: 0.5em;
        flex-wrap: wrap;
        gap: 0;
    }
    div.image {
        min-width: 250px;
    }
    /*Move Catagory Menu*/
    section {
        display: block;
    }
        div.catagories {
            width: 100%;
            box-sizing: border-box;
            height: fit-content;
            flex-direction: row;
            margin: auto;
            padding-left: 8px;
            padding-right: 8px;
            justify-content: space-between;
        }
            table.center h2 {
                margin: 0.5em;
                vertical-align: middle;
            }
            div.catagories > h3 {
                margin: 0;
                vertical-align: middle;
            }
            div.catagories > ul {
                list-style-type: none;
                text-decoration: underline;
                display: inline-flex;
                width: fit-content;
                align-self: center;
                margin: 0;
                gap: 0.5em;
            }
        div.gallery {
            width: 100%;
            margin: auto;
            box-sizing: border-box;
        }
        /*Item Size*/
        div.gallery > a {
            width: 100%;
        }
}

/*Tablet Styles*/
@media screen and (max-width: 1024px) {
    /*Nav*/
    .search, .search-icon {
        display: none;
    }
    .logo {
        max-width: 70px;
        min-width: 60px;
        box-shadow: none;
        margin: 1px;
        top: 0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
        nav.top-nav, nav.menu {
            max-height: 80px;
            height: 70px;
        }
            ul.top-nav {
                display: none;
            }
        .menu-icon {
            font-size: 1.5em;
            display: inline;
        }
        .cart {
            font-size: 1.5em;
        }
    /*Item Size*/
    div.gallery > a {
        width: 50%;
    }
        div.listing {
            padding: 8px;
        }
    ul.bottom-nav {
        display: none;
    }
    footer.bottom-nav {
        justify-content: flex-end;
    }
    div.social {
        font-size: 1.5em;
        justify-items: center;
    }
}

